@CHARSET "UTF-8";

body
{
	overflow-y: scroll; /* Show vertical scrollbar */
}

#bodyTable
{
	width:100%;
}

.layoutTableSide
{
	width:17%;
	vertical-align:top;
}

.layoutTableCenter
{
	width:66%;
	vertical-align:top;
}

#title
{
	font-size: large;
}

.clickableBar
{
	cursor:pointer;
	transition: all .5s linear;
}

.clickableBarHelp
{
	cursor:help;
	transition: all .5s linear;
}

.clickableBarPreise
{
	cursor:crosshair;
	transition: all .5s linear;
}

.clickable
{
	cursor:pointer;
}

.textShadow
{
	text-shadow: black 0.0em 0.0em 0.2em;
}

.textShadowWhite
{
	text-shadow: 0 0 3px #FFF;
}

.dataTable
{
	vertical-align:top;
	font-size: medium;
	width:100%;
	
}

.dataTable th, .dataTable td
{
	vertical-align:top;
	
}

table
{
	vertical-align:top;
	font-size: medium;
	width:100%;
	border-collapse: collapse;
}

table th, table td
{
	vertical-align:top;
	border: 1px solid black;
}