@CHARSET "UTF-8";

.popimage
{
	
}

.black_overlay
{
	transition:300ms linear;
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	opacity:0;
	cursor:pointer;
}

.black_highlight
{
	transition:300ms linear;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index:1001;
	cursor:pointer;
}
 
.white_content
{
	transition:300ms linear;
	border-radius:10px;
	display: none;
	position: absolute;
	top: 2.5%;
	left: 5%;
	width: 90%;
	height: 95%;
	max-height:95%;
	padding: 2px;
	border: 4px solid #000;
	background-color: white;
	z-index:1002;
	overflow: auto;
	text-align:center;
	opacity:0;
	vertical-align:middle;
}

.white_dim
{
	transition:300ms linear;
	border-radius:10px;
	display: block;
	padding: 2px;
	border: 4px solid #000;
	background-color: white;
	z-index:1002;
	overflow: auto;
	text-align:justify;
	cursor:pointer;
	opacity:0;
	vertical-align:middle;
}

.white_content td
{
	text-align:center;
	vertical-align:middle;
}

body
{
	overflow-y: scroll; /* Show vertical scrollbar */
}

#bodyTable
{
	width:100%;
}

.layoutTableSide
{
	width:17%;
	vertical-align:top;
}

.layoutTableCenter
{
	width:66%;
	vertical-align:top;
}

#title
{
	font-size: large;
}

.clickableBar
{
	cursor:pointer;
	transition: all .5s linear;
}

.clickableHover
{
	cursor: pointer;
	transition: all .5s linear;
}

.clickableHover:hover
{
	background-color: grey;
}

.clickableBarHelp
{
	cursor:help;
	transition: all .5s linear;
}

.clickableBarPreise
{
	cursor:crosshair;
	transition: all .5s linear;
}

.clickable
{
	cursor:pointer;
}

.textShadow
{
	text-shadow: black 0.0em 0.0em 0.2em;
}

.textShadowWhite
{
	text-shadow: 0 0 3px #FFF;
}

.dataTable
{
	vertical-align:top;
	font-size: medium;
	width:100%;
	
}

.dataTable th, .dataTable td
{
	vertical-align:top;
	
}

table
{
	vertical-align:top;
	font-size: medium;
	width:100%;
	border-collapse: collapse;
}

table th, table td
{
	vertical-align:top;
	border: 1px solid black;
}